<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Age:</strong>
  <%= @post.age %>
</p>
<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>
<p>
  <strong>State:</strong>
  <%= @post.state %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
